<nav class="navbar navbar-expand-lg navbar-light forestGreen">
  <a class="navbar-brand" href="/"><img src="/img/cl_logo.svg" alt="CodingLog Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home</a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link text-white" href="/get-started">Login/Register</a>
      </li> --}}
    </ul>

    <ul class="navbar-nav ml-auto">
      {{#if user}} {{!-- if user is logged in --}}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" id="navbarDropdownMenuLink">{{user.name}}</a>
          <div class="dropdown-menu">
            <a href="/logout" class="nav-link">Logout</a>
          </div>
        </li>

      {{/if}}
    </ul>

  </div>
</nav>